OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=
OPENAI_MODEL_NAME=
X_ASR_MODEL_DIR=C:\Code\X-ASR\X-ASR-zh-en\deployment\x-asr-live-demo\models\asr
X_ASR_VAD_DIR=C:\Code\X-ASR\X-ASR-zh-en\deployment\x-asr-live-demo\models\firered_vad
